body {
  background-color: #e3d1ba;
}
.container-lobi {
  display: flex;
  background-color: #e3d1ba;
  width: 100%;
  min-height: 100vh;
  gap: 20px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-image: url(/PROJE-C1/img/mobil-bg3.png);
  background-size: cover;
}

.menu,
.container-main,
.navigation {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 67px;
  background-color: #efe1d6;
  border-radius: 20px;
  border: 1px solid #b2a4a5;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #575d37;
  box-shadow: -1px 1px 1px #c2a4a4;
  transition: 0.5s;
}
.container-navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  text-shadow: -1px 1px 1px #c2a4a4;
  max-width: 368px;
}
.menu:hover,
.container-main:hover,
.navigation:hover,
.number:hover {
  opacity: 0.6;
}

.lobi-logo {
  display: flex;
  font-family: "Playwrite NZ", cursive;
  color: #575d37;
  flex-direction: column;
}
.lobi-logo p {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.lobi-logo h1 {
  text-shadow: -2px 2px 2px #948787;
  font-weight: 700;
  text-align: center;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efe1d6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #b2a4a5;
  transition: 0.5s;
}

.container-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/*      svg         */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #575d37;
}

/*      svg         */
